@model Classwork.Models.BookModel
<h1>Details for Book @Model.id</h1>
<partial name = "_book"/>
<a asp-action = "UpdateForm" asp-controller = "Book" asp-route-bookID = "@Model.id">
    <button>Edit</button>
</a>
<a asp-action = "DeleteConf" asp-controller = "Book" asp-route-bookID = "@Model.id">
    <button>Delete</button>
</a>