@model Classwork.Models.BookModel
<h1>Are you sure you want to delete book @Model.id</h1>
<partial name = "_book"/>
<a asp-action = "DeleteBook" asp-controller = "Book" asp-route-bookID = "@Model.id">
    <button>Delete</button>
</a>
<a asp-action = "BookDetails" asp-controller = "Book" asp-route-bookID = "@Model.id">
    <button>Back to Details</button>
</a>

